#HeaderBox {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 5px;
 margin-bottom: 5px;
 background-repeat: no-repeat;
 background-size: cover;
 padding-top: 0px;
}

#BodyBox {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 85%;
  align-items: center;
  margin: 0px auto;
  font-size: 13px;

}
#IconBox {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  align-items: center;
  margin: 60px auto 0;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://www.shell.com/energy-and-innovation/the-energy-future/scenarios/shell-scenario-sky/_jcr_content/pagePromo/image.img.960.jpeg/1548184031017/clear-blue-sky.jpeg");
  height: 100vh;
  margin: 0;
}
html, body {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 400px) {
  *{
    font-size: 10px;
  }
}